.custom-shape-divider-bottom-1728928153 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 99;
}

.custom-shape-divider-bottom-1728928153 svg {
    
    
  
    height: 235px;
}

.custom-shape-divider-bottom-1728928153 .shape-fill {
    fill: #D0021B;
}